fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pandas
openpyxl
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic[email]
google-genai
jinja2
slowapi
pytest
httpx2
